[submodule "dramatic-conversation-disentanglement"]
	path = dramatic-conversation-disentanglement
	url = https://github.com/kentchang/dramatic-conversation-disentanglement
[submodule "src/vfs"]
	path = src/vfs
	url = https://github.com/vahiru/logos-fs
